.outsice {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border: 5px solid #69c773;
}

label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}
